{% load static %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <div id="passwordHelpBlock" class="form-text">
                      A senha deve conter pelo menos um caractere especial, uma letra minúscula, uma letra maiúscula, um número e ter no mínimo 8 caracteres.
                  </div>
                </div>
        </div>
        <div class="modal-footer">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <button class="nav-link btn" data-bs-toggle="modal" data-bs-target="#exampleModal1">Register</button>
            </li>
          </ul>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
