{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    .like-button {
        background-color: rgb(201, 201, 201);
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
    }

    .liked {
        background-color: rgb(247, 41, 41);
        color: white;
    }

    .like-button i {
        margin-right: 8px;
    }
</style>
{% endblock %}
{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const likeButton = document.getElementById('likeButton');
        likeButton.addEventListener('click', function() {
            this.classList.toggle('liked');
            const icon = this.querySelector('i');
            if (this.classList.contains('liked')) {
                this.textContent = ' Descurtir';
                this.prepend(icon);
                icon.className = 'fa fa-thumbs-down';
            } else {
                this.textContent = ' Curtir';
                this.prepend(icon);
                icon.className = 'fa fa-thumbs-up';
            }
        });
    });
</script>
{% endblock %}
{% block content %}

<div class="card">
    <img class="card-img-top" src="{{ clothing.path.url }}" alt="{{ clothing.title }}">
    <div class="card-body">
        <h5 class="card-title">{{ clothing.title }}</h5>
        <p class="card-text">{{ clothing.description }}</p>
        <a href="{% url 'like_clothing' clothing.id %}" id="likeButton" class="like-button {% if liked %}liked{% endif %}">
            <i class="fa {% if liked %}fa-thumbs-down{% else %}fa-thumbs-up{% endif %}"></i>
            {% if user.is_authenticated %}
                {% if liked %}
                    {{ clothing.total_likes }}
                {% else %}
                    {{ clothing.total_likes }}
                {% endif %}
            {% else %}
                {{ clothing.total_likes }}
            {% endif %}
        </a>
        <form method="post" action="{% url 'comment_clothing' clothing.id %}">
            {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control" name="content" rows="3" placeholder="Adicionar comentário"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary">Comentar</button>
        </form>
        <h5 class="mt-4">Comentários:</h5>
        {% for comment in comments %}
            <div class="card mt-2">
                <div class="card-body">
                    <p class="card-text">{{ comment.content }}</p>
                    <p class="card-text"><small class="text-muted">por {{ comment.user.username }}</small></p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}