{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% if clothes %}
        {% for clothing in clothes %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="{{ clothing.path.url }}" alt="{{ clothing.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ clothing.title }}</h5>
                        <p class="card-text">{{ clothing.description }}</p>
                        <a href="{% url 'edit_clothing' clothing.id %}" class="btn btn-warning">Editar</a>
                        <form method="post" action="{% url 'delete_clothing' clothing.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Deletar</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
<a href="{% url 'add_clothing' %}" class="btn btn-success">Adicionar Roupa</a>
{% endblock %}